
{{#if model.city}}
<div class="g-grid--row tif-inspired-font">
	<div class="g-grid--indent">
    	<div class="tif-article-all-about-footer">

        <h4 class="g-h2 g-line-dotted">{{i18n 'tif.article.all.about' model.city.location.name}}</h4>

        <ul>
    {{#each model.city.links}}
        <li><a href="{{url}}" class="tif-article-footer-link" rel="{{rel}}">{{title}} <span class="g-klmicon">&#x3e;</span></a></li>
    {{/each}}<li>
        </ul>

        </div>
    </div>
</div>
{{/if}}



{{> footer}}





<script>

    require.config({
        paths : {
            "tif" : "/destinations/static/{{model.appDetails.version}}",
            "nls" : '/travel/{{model.country}}_{{model.language}}/static/nls'
        }
    });


    define("tif/constants", function () {
        "use strict";

        return {

            "isMobile": navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile|mobile/i),
            "storageSupport": (window.Modernizr && window.Modernizr.localstorage) ? window.Modernizr.localstorage : false
        }
    });

</script>
<script src="/destinations/static/{{model.appDetails.version}}/js/tif-page-article.js"></script>


<!--[if !IE]><!-->
<script src="/ams/tms/kl/web/tc.js"></script>
<!-- <![endif]-->


</body>
</html>