<!DOCTYPE html>

<html lang="{{model.language}}-{{model.country}}" class="no-js"> <!--<![endif]-->

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{model.header.title}} - KLM.com</title>
    <meta name="description" content="{{i18n 'tif.search.metadescription.default'}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="cleartype" content="on" />

    <meta property="og:site_name" content="KLM.com" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="{{model.language}}" />
    <meta property="og:title" content="{{model.header.title}}" />
    <meta property="og:description" content="{{i18n 'tif.search.metadescription.default'}}" />
    <meta property="og:image" content="http://www.klm.com/destinations/static/{{model.appDetails.version}}/img/og-visual.png" />

    <link rel="canonical" href="//www.klm.com/destinations/{{model.country}}/{{model.language}}/search" />
{{> freak-header-css}}

<link rel="stylesheet" href="{{model.appDetails.staticUrl}}/destinations/static/{{model.appDetails.version}}/css/tif-core.css"/>
<link rel="stylesheet" href="{{model.appDetails.staticUrl}}/destinations/static/{{model.appDetails.version}}/css/search.css"/>
<link rel="stylesheet" href="{{model.appDetails.staticUrl}}/destinations/static/{{model.appDetails.version}}/css/tif-AF.css"/>


{{> freak-header-js}}

</head>

<body data-srcset="{{find model.header.inspirationalVisual.hrefs "small" operator="==" key="type" value="url"}} 680w, {{find model.header.inspirationalVisual.hrefs "medium" operator="==" key="type" value="url"}} 984w, {{find model.header.inspirationalVisual.hrefs "large" operator="==" key="type" value="url"}} 1x" class="js-g-img g-img-replace-me" data-img-type="background">

<span class="js-g-mi" data-g-mi="tif.page.destination"></span>
