{{>header}}

<p>
	WHOEIII get model http://oudenniel.nl/model.json<br />
	country: {{country}}<br />
	version: {{appVersion}}
</p>

{{blah}}

<p>
	{{copyright}}
	HELPER: DYNAMIC: {{dynamic 'footer' this}}
</p>

{{>footer}}