<div class="tif-destination-flightinfo-content g-line-dotted g-clear">
    <div class="g-font-klm">
        <span class="g-klmicon">&#x1f554;</span>
        <div class="tif-destination-flightinfo-line tif-h3">
            {{model.shortestTravelTime.durationHour}}{{i18n "tif.search.listview.hoursinoneletter"}}
            {{model.shortestTravelTime.durationMinutes}}{{i18n "tif.search.listview.minutesinoneletter"}} {{i18n "tif.destination.timetable.traveltime"}}</div>
    </div>
    <div class="g-font-klm">
        <span class="g-klmicon">&#x2708;</span>
        <div class="tif-destination-flightinfo-line tif-h3">{{model.flightDescription}}</div>
    </div>
</div>

